* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{

  font-family: sans-serif;
}

.color-box{
  border:2px solid black;
  display: flex;
  width: 150px;
  height:150px;

}
.box-container{
  display: flex;
  flex-direction: row;
  gap:1rem;

}
.query-btn{
    
  display: flex;    
  width: 150px;
  border-radius: 8px;
  height: 35px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:black;
  color: white;
  text-transform: uppercase;
 
 
}
.container{
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  border: 2pc solid black;

}